h2 {color: green;
    }
body {
    background: #1657a1;
}
main {
    width:300px;
 margin-left:auto ;
 margin-right: auto;
 background: #ebf8fa;
 border-radius: 10px;
  text-align: center;
}
img {
    height: 20px;
    width:  20px;
    
}
img:hover {
    cursor: pointer;
}
li  {
    list-style-type: none;
    
}
.completed {
    opacity: 0.2;
    width: auto;
}
.alap {
    width: 20px;
    height: 20px;
}
.deleted {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

}